<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align:center;"> Create a new Campground</h1>
        <div style="width:40%; margin:30px auto;">
            <!--do not use inlie styling: above line makes form 30% of apge and center with 0 auto-->
            <form action="/campgrounds" method="POST">
                <!--Wrap labels and controls in .form-group for optimum spacing.-->
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">    
                </div>
                
                 <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">    
                </div>
                
                <div class="form-group">
                    <!--btn-block take full width and btn-primary makes button color blue by default-->
                    <button class="btn btn-default btn-lg btn-block btn-primary"> Submit</button>    
                </div>
                
                
            </form>
            <a href="/campgrounds"> Go back</a>
        </div>
    </div>

<% include ../partials/footer %>