
body{
	/*background-image:url("https://images.unsplash.com/photo-1528835333825-7dc1cee67e63?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=944a66e3473db6d1fda34029b072fc19&auto=format&fit=crop&w=1049&q=80");*/
	background-size: cover;
	background-position: center;
	font-family: Montserrat;
	/*color: white;*/
}

html,body
{
	height: 100%; /*this is a fix image cover wntire 100% HTML*/
	width: 100%;
}


#content{
	padding-top: 25%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 10px 18px rgba(0,0,0,0.1);
}

h1{
	font-weight: 700;
	
}

hr{
	width:70%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2); /*transparent color*/
}

.navbar-inverse .navbar-nav>.active>a{
	color: white;
}

.navbar-inverse  .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
	color:inherit;
}



/*image inside the thumbanail class*/
.thumbnail img {
    width: 100%;
}
/*remove padding between image and the thumbnail */
.thumbnail {
    padding: 1px;
}

.thumbnail .caption-full {
     padding: 9px;
}


.delete-form {
	/*display the delete form button side by side*/
	display: inline;
}